<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIQL</title>
    <link rel="stylesheet" href="http://localhost:3000/main/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="http://localhost:3000/main/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="http://localhost:3000/main/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="http://localhost:3000/main/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="http://localhost:3000/main/assets/css/Registration-Form-with-Photo.css">
    <style>
        .css-serial {
            counter-reset: serial-number;  /* Set the serial number counter to 0 */
        }
        .css-serial td:first-child:before {
            counter-increment: serial-number;  /* Increment the serial number counter */
            content: counter(serial-number);  /* Display the counter */
        }
        .tool-tip {
        display: inline-block;
        }
        .tool-tip [disabled] {
        pointer-events: none;
        }
    </style>
</head>

<body><nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a href="#" class="navbar-brand logo">MUSIQL</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#home">Home</a></li>
                <li class="nav-item" role="#presentation"><a class="nav-link" href="/user_logout">Logout</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#about_us">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>
    
<div class="table-responsive" id="listen">
    <br><br><br><br><br>
    <div class="block-heading">
        <center><h2 class="text-info">Competition Portal</h2>
        <p>This is the competition portal.</p></center>
    </div>
    <table class="table css-serial">
        <thead>
            <th scope="col">Sl.no</th>
            <th scope="col">Competent</th>
            <th scope="col">Upload your song</th>
        </thead>
        <tbody>
            <% for(var i=0,j=0;i < com_data.length;i++){ %>
                <tr>
                <td></td>
                <td><%= com_data[i].user_fullname %></td>
                <td>
                    <% if(com_data[i].u_name == user_username){ %>
                        <form action="/upload_com_song" method="POST" enctype = "multipart/form-data">
                            <input type="hidden" name="com_id" value="<%= com_data[i].com_id %>">
                            <input type="file" name="audio" id="song_file" />
                            <% if(boo4==true){ %>
                                <span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="You have already uploaded a song for this competition.">
                                <button type="submit" class="btn btn-primary" value="Upload Audio" name="submit" disabled>Upload</button></span>
                            <% }else{ %>
                                <button type="submit" class="btn btn-primary" value="Upload Audio" name="submit">Upload</button>
                            <% } %>
                        </form>
                    <% }else{} %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

<section class="clean-block about-us">
    <div class="container" id="about_us">
        <div class="block-heading">
            <h2 class="text-info">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center"><img src="http://localhost:3000/main/assets/img/avatars/avatar1.jpg" class="card-img-top w-100 d-block" />
                    <div class="card-body info">
                        <h4 class="card-title">Karthikeya H S</h4>
                        <p class="card-text">MEAN Stack developer, Database designer, Karnatik musician</p>
                        <div class="icons"><a href="https://www.facebook.com/karthikeya.hs" target="_newtab"><i class="icon-social-facebook"></i></a><a href="#" trrget="_newtab"><i class="icon-social-google"></i></a><a href="https://github.com/karthikeyahs"><i class="icon-social-github"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center"><img src="http://localhost:3000/main/assets/img/avatars/avatar2.jpeg" class="card-img-top w-100 d-block" />
                    <div class="card-body info">
                        <h4 class="card-title">Keshav Bhattad</h4>
                        <p class="card-text">Software Engineer, Database expert, Web developer</p>
                        <div class="icons"><a href="https://www.facebook.com/karthikeya.hs" target="_newtab"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-google" target="_newtab"></i></a><a href="https://github.com/karthikeyahs"><i class="icon-social-github" target="_newtab"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section></main><footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#user_login">Login</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h5>About us</h5>
                <ul>
                    <li><a href="#info">Company Information</a></li>
                    <li><a href="#about_us">Contact us</a></li>
                    <li><a href="#home">Back to top</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2018 Copyright Text</p>
    </div>
</footer>
    <script
        src="http://localhost:3000/assets/js/jquery.min.js"></script>
        <script src="http://localhost:3000/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="http://localhost:3000/assets/js/theme.js"></script>
</body>

</html>